---
layout: default
redirect_from:
- /2017/11/18/tomy-mr-money-google-aiy-assistant/
- /2015/12/27/raspberry-pi-zero-usb-hub-mod-with-case/
- /2015/04/20/vectorise-all-the-things/
- /2014/09/23/spark-core-cheat-sheet/
- /2014/09/22/useful-raspberry-pi-commands/
---

	{% for post in paginator.posts %}
		<article class="post post--summary">
			<a href="{{ site.baseurl }}{{ post.url }}">
			{% if post.masthead %}
			<img class="post__img" src="{{ post.masthead }}" alt="" />
			{% endif %}
			<div class="post__content">
				<div class="post__date">{{ post.date | date: "%d.%m.%Y" }}</div>
				<h2 class="post__heading">{{ post.title }}</h2>
			</div>
		</a>
		</article>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
	{% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="pagination__prev">Older<span class="hidden-on-mobile"> posts</span></a>
    {% endif %}
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pagination__next">Newer<span class="hidden-on-mobile"> posts</span></a>
    {% endif %}
</div>
{% endif %}