<div class="share">
    <a href="http://www.facebook.com/sharer.php?u=http%3a%2f%2fcircuitbeard.co.uk%2fblog%2frombus-ct-a-raspberry-pi-powered-mini-cocktail-arcade" target="_blank" class="share-link"><i class="mdi mdi-facebook"></i></a>
    <a href="https://twitter.com/share?url=http%3a%2f%2fcircuitbeard.co.uk%2fblog%2frombus-ct-a-raspberry-pi-powered-mini-cocktail-arcade&text=ROMBUS-CT+-+A+Raspberry+Pi+Powered+Mini+Cocktail+Arcade&via=circuitbeard" target="_blank" class="share-link"><i class="mdi mdi-twitter"></i></a>
    <a href="http://www.linkedin.com/shareArticle?url=http%3a%2f%2fcircuitbeard.co.uk%2fblog%2frombus-ct-a-raspberry-pi-powered-mini-cocktail-arcade&title=ROMBUS-CT+-+A+Raspberry+Pi+Powered+Mini+Cocktail+Arcade" target="_blank" class="share-link"><i class="mdi mdi-linkedin"></i></a>
    <a href="https://plus.google.com/share?url=http%3a%2f%2fcircuitbeard.co.uk%2fblog%2frombus-ct-a-raspberry-pi-powered-mini-cocktail-arcade" target="_blank" class="share-link"><i class="mdi mdi-google-plus"></i></a>
</div>
