/* 
    ===============================
    STRUCTURE
    ===============================
*/

.social-links {
    @extend .bare;

    margin: 0 auto;
    padding-bottom: $global-spacing-unit-small;

    > li {
        display: inline-block;
    }
}

.social-links__link {

    @include font-size(20px, 20px);
    color:white;

    @include hocus {
        color: $brand-color-yellow;
    }

}

.copyright {
    @include font-size(10px, 10px);  
    color: white;
    text-transform: uppercase;
}

.post {
    margin: $global-spacing-unit-small;

    @media screen and (min-width: 62em){
        margin: $global-spacing-unit;
    }
}

.post__img {
    width: 100%;
    vertical-align: bottom;
}

.post__content {
    padding: $global-spacing-unit-small;
    color: white;
    background-color: $brand-color-grey-darker;
    overflow-x: hidden;

    @media screen and (min-width: 48.5em){
        padding: $global-spacing-unit;
        padding-right: 150px;
    }
}

.post__date {
    font-family: 'M41_LOVEBIT';
    text-transform: uppercase;
    color: #555;
    font-weight: bold;
    margin-bottom: 10px;
}

.post__heading {
    text-transform: uppercase;
}

a .post__heading {
    color: white;

    @include transition(color .25s ease);
}

a {
    @include hocus {
        .post__heading {
            color: $brand-color-yellow;
        }
    }
}

.post--summary .post__heading {
    margin-bottom: 0;
}

.share {
    @include font-size(20px, 20px);

    padding-top: $global-spacing-unit;

    a {
        color: $brand-color-grey;

        @include hocus {
            color: $brand-color-yellow;
        }
    }
}

.comments {
    background-color: $brand-color-grey-darker;
    padding: $global-spacing-unit-small;

    @media screen and (min-width: 48.5em){
        padding: $global-spacing-unit;
        padding-right: 150px;
    }
}

.wide-content-core {
    //margin-left: $global-spacing-unit-small*-1;
    //margin-right: $global-spacing-unit-small*-1;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: $global-spacing-unit-small;  

    @media screen and (min-width: 48.5em){
        //margin-left: $global-spacing-unit*-1;
        //margin-right: -150px;
        margin-right: -(150px - $global-spacing-unit);
        margin-bottom: $global-spacing-unit;  
    }
}

.image {
    @extend .wide-content-core;

    img {
        width: 100%;
    }
}

pre[class*="language-"] {
    @extend .wide-content-core;
  
    border: 0;
    border-radius: 0;
}

.gallery {
    //@extend .wide-content;

    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: $global-spacing-unit-small;  
      
    width: auto;

    @media screen and (min-width: 48.5em){
        margin-left: -10px;
        margin-right: -((150px + 10px) - $global-spacing-unit);
        margin-bottom: $global-spacing-unit;  
    }
}

.video {
    @extend .wide-content-core;
    @extend .ratio--16x9;

    iframe {
        @extend .ratio__content;
    }
}

.pagination {
    margin: $global-spacing-unit-small;
    background-color: $brand-color-grey-darker;

    @include clearfix();

    @media screen and (min-width: 62em){
        margin: $global-spacing-unit;
    }
}

.pagination__prev,
.pagination__next {

    display: inline-block;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding: $global-spacing-unit-small;
    width: 50%;

    @include font-size(16px, 16px);   
    @include transition(background-color .25s ease, color .25s ease);

    @media screen and (min-width: 458.5em){
        @include font-size(20px, $global-spacing-unit-large);  
        padding: 0 $global-spacing-unit;
    }

    @include hocus {
        color: $brand-color-grey-darker;
        background-color: white;
    }
}

.pagination__next {
    float: right;
    text-align: right;
}

.tweet-me {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: $brand-color-yellow;
    color: $brand-color-grey-darker;
    font-weight: bold;

    @include transition(background-color .25s ease);

    @include hocus {
        color: $brand-color-grey-darker;
        background-color: white;
    }
}