/* 
    ===============================
    STRUCTURE
    ===============================
*/

/* Page */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: $brand-color-yellow;
    padding: 0;
    margin: 0;
}

/* Header */
.header {

    position: fixed;
    background-color: $brand-color-grey-dark;
    color: #fff;
    height: 60px;
    width: 100%; 
    z-index: 10;

    @media screen and (max-width: 62em) {

        .surround--open & {
            margin-left: -240px;
        }

        @include transition(margin-left .25s ease-in-out);

    }

    @media  screen and (min-width: 62em) {
        top: -1000px;
        margin-left: 0;
    }
}

.header__logo {
    display: inline-block;
    margin: 10px 0;
    padding-left: $global-spacing-unit-small;
}

.header__logo object,
.header__logo img,
.header__logo svg {
    height: 40px;
    width: 40px;
    pointer-events: none;
    vertical-align: middle;
}

.header__logo-text {
    color: white;
    font-family: 'M41_LOVEBIT';
    text-transform: uppercase;
    vertical-align: middle;
    padding-left: $global-spacing-unit-xsmall;

    @include font-size(16px, 16px);

    @media screen and (min-width: 48.5em){
        @include font-size(18px, 18px);

    }
}

.nav__toggle {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    width: $global-spacing-unit-large;
    text-align: center;

    @include font-size($global-spacing-unit, $global-spacing-unit-large);
    @include transition(background-color .25s ease);

    @include hocus {
        color: white;
        background-color: $brand-color-yellow;
    }

    .nav__toggle-icon--close {
        display: none;
    }

    .surround--open & {
        .nav__toggle-icon--open {
            display: none;
        }
        .nav__toggle-icon--close {
            display: inline-block;
        }
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -240px;
    width: 240px;
    height: 100%;
    background: $brand-color-grey-darker;
    color: white;
    text-align: center;
    padding-top: $global-spacing-unit;
    z-index: 6;

    @media screen and (max-width: 62em) {

        .surround--open & {
            margin-right: 240px;
        }

        @include transition(margin-right .25s ease-in-out);

    }

    @media screen and (min-width: 62em) {
        left: 0;
        right: auto;
        margin-right: 0;
    }
}

.sidebar__logo {

    display: block;

    object, img, svg {
        width: 180px;
        height: 206px;
    }

    object, svg {
        pointer-events: none;
    }

    @media  screen and (max-width: 62em) {
        display: none;
    }

}

.sidebar__logo-text {
    display: block;
    color: white;   
    font-family: 'M41_LOVEBIT';
    text-transform: uppercase;
    margin-top: $global-spacing-unit-xsmall;
    margin-bottom: $global-spacing-unit-large;

    @include font-size(14px, 14px);

    @media  screen and (max-width: 62em) {
        display: none;
    }
}

.sidebar__nav {
    padding-top: 0;
    text-align: center;
    width: 180px;
    margin: 30px auto 0;

    ul {
        @extend .bare;
    }

    a {
        font-family: 'M41_LOVEBIT';
        color: white;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 14px;
        padding: 10px;
        display: inline-block;
        margin-bottom: 10px;

        @include hocus {
            color: $brand-color-yellow;
        }

        &.active {
            position: relative;
            color: $brand-color-grey-darker;
            background-color: $brand-color-yellow;

            @include hocus {
                color: $brand-color-grey-darker;
            }

            /*
            &:before {
                content: "";
                position: absolute;
                background-color: $brand-color-yellow;
                display: block;
                height: 100%;
                width: 30px;
                top:0;
                left: -30px;
            }

            &:after {
                content: "";
                position: absolute;
                background: transparent url(/img/bg_glitch_edge.png) left top repeat-y;
                display: block;
                height: 100%;
                width: 10px;
                top: 0;
                right: -10px;
            }
            */
        }
    }
}

.sidebar__bottom {
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
}

.body-wrapper {
    position: absolute;
    padding-top: $global-spacing-unit-large;
    width: 100%;
    z-index: 5;

    @media screen and (max-width: 62em) {

        .surround--open & {
            margin-left: -240px;
        }

        @include transition(margin-left .25s ease-in-out);
    }

    @media screen and (min-width: 62em) {
        padding-top: 0;
        padding-left: 240px;
    }
}

.body {
    max-width: 1200px;
    margin: 0;
}

footer {
    background-color: darken($brand-color-grey-dark, 10%);
    text-align: center;
    padding: $global-spacing-unit-small;

    p {
        color: rgba(255,255,255,0.25);
        margin: 0;
    }
}